/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --bg: #f9f9f9;
  --surface: #ffffff;
  --border: #e5e5e5;

  --primary: #000000;
  --radius: 12px;
}
.skeleton {
  height: 14px;
  border-radius: 8px;
  background: linear-gradient(90deg,#eee,#f5f5f5,#eee);
  animation: pulse 1.2s infinite;
}
@keyframes pulse {
  0% {background-position:0%}
  100% {background-position:100%}
}
